/* ================Init================ */
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* =============Create available============= */
:root {
    --header_bg: #10375c;
    --main-color: #10375c;
}

/* =============Common============= */
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 205px;
    font-size: 1.8rem;
    font-weight: 400;
    background: #2e80ce;
    border-radius: 30px;
    border: 1px solid #2e80ce;
    line-height: 3.3;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section__heading {
    color: var(--main-color);
    margin-bottom: 18px;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.section__desc {
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

/* =============Header============= */
.header {
    min-height: 100vh;
    background: var(--header_bg);
}

.header__content {
    padding-top: 30px;
}

/* =============Header-top============= */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo {
    display: flex;
}

.logo__text {
    color: #fff;
    display: inline-block;
    text-align: right;
    margin-left: 0.6em;
    width: 5em;
    font-weight: 400;
}

.logo__brand {
    font-size: 1.8em;
}

.logo__brand--smaller {
    font-size: 1.4em;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    color: #c9d2da;
    padding: 8px 21px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.navbar__link:hover,
.navbar__link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    content: "";
    display: inline-block;
    position: relative;
    bottom: 2.5px;
    left: -8px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

.action__signUp {
    width: 104px;
    margin-left: 28px;
    font-size: 1.6rem;
    border-radius: 22px;
    line-height: 2.75;
}

.action__logIn {
    color: #c9d2da;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
}

/* =============Hero============= */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin-top: 76px;
}

.hero__content {
    width: 44%;
}

.hero_title {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero_desc {
    color: #c9d2da;
    margin-top: 22px;
    margin-bottom: 38px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

.hero__phone {
    color: #fff;
    margin-left: 38px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__img {
    width: 210px;
    height: 410px;
    border-radius: 0 6px 6px 0;
    object-fit: cover;
}

.hero__img--bigger {
    position: relative;
    width: 330px;
    height: 540px;
    left: 1px;
    z-index: 1;
    border-radius: 6px;
}

/* =============Service============= */
.service {
    padding: 170px;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    width: 468px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

.service-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service__list {
    margin-bottom: 56px;
}

.service-item {
    display: flex;
    padding: 21px 18px 20px 22px;
}

.service-item:hover {
    position: relative;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    color: #fff;
    background: #2e80ce;
}

.service-item__icon {
    color: var(--main-color);
    background: #eff6fd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 19px;
}

.service-item__heading {
    color: var(--main-color);
    font-size: 1.8rem;
    line-height: 1.27;
    font-weight: 600;
}

.service-item__desc {
    color: #575f66;
    width: 351px;
    margin-top: 8px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}
