/* ================Init================ */
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* =============Create available============= */
:root {
    --header_bg: #10375c;
}

/* =============Common============= */
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 205px;
    font-size: 1.8rem;
    font-weight: 400;
    background: #2e80ce;
    border-radius: 30px;
    border: 1px solid #2e80ce;
    line-height: 3.3;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* =============Header============= */
.header {
    min-height: 100vh;
    background: var(--header_bg);
}

.header__content {
    padding-top: 30px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo {
    display: flex;
}

.logo__text {
    color: #fff;
    display: inline-block;
    text-align: right;
    margin-left: 0.6em;
    width: 5em;
    font-weight: 400;
}

.logo__brand {
    font-size: 1.8em;
}

.logo__brand--smaller {
    font-size: 1.4em;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    color: #c9d2da;
    padding: 8px 21px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.navbar__link:hover,
.navbar__link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    content: "";
    display: inline-block;
    position: relative;
    bottom: 2.5px;
    left: -8px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

.action__signUp {
    width: 104px;
    margin-left: 28px;
    font-size: 1.6rem;
    border-radius: 22px;
    line-height: 2.75;
}

.action__logIn {
    color: #c9d2da;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
}
